
@import "shape.css";
@import "font.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@300;400;500;700&display=swap');
body {
  border: 10px solid #00c6ad;
  margin: 0px 25vw;
  width: 950px;
  height: 2050px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  
}
.space {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.space-between {
  justify-content: space-between;
}
.space-start{
  justify-content: start;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-space {
  height: 135px;
}
.h25 {
  height: 250px;
}
.h30 {
  height: 250px;
}
.top {
  margin-top: 150px;
}
.h40 {
  height: 400px;
}
.w33 {
  width: 33%;
}
.w23 {
  width: 23%;
  margin-left: 10% ;
}
.w40 {
  width: 40%;
}
.w60 {
  width: 60%;
}
.red {
  background-color: #f85a2a;
}
.pink {
  background-color:#ff89bb;
}
.blue {
  background-color: #1847e5;
}
.green {
  background-color: #00c6ad;
}

