.background-color1{
    background-color: #DAE7DE;
}
.background-color2{
    background-color: #008A69;
}
.background-color3{
    background-color: #F44607;
}
.background-color4-1{
    background-color: #F7ABC5;
}
.background-color4-2{
    background-color: #5F5FA9;
}
.background-color4-3{
    background-color: #FFC028;
}
.background-color4-4{
    background-color: #F97374;
}