.font_red{
    color: #F44706;
}
.font_white{
    color: #FDFBFF;
}
.font_center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.font_size_big{
    font-size: 100px;
    font-weight: 600;
}
.font_size_small{
    font-size: 50px;
    font-weight: 600;
}