.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.black {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.background {
  background-color: rgba(33, 189, 189, 0.904);
  display: flex;
  width: 550px;
  height: 450px;
  flex-direction: column;
}
.width {
  display: flex;
  justify-content: center;
  
}
.rotateX{
  animation: trun180deg 1.2s ease-in-out infinite;
}
.chainge_scale {
  animation: small_to_big 1.2s linear infinite;

}

.point {
  margin: 50px 16px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
}
.square {
  margin: 50px 5px;
  padding: 20px 5px;
  background-color: white;
}
.delay_one {
  animation-delay: 0.1s;
}
.delay_two {
  animation-delay: 0.2s;
}
.delay_three {
  animation-delay: 0.3s;
}
.delay_four {
  animation-delay: 0.4s;
}
@keyframes trun180deg {
  0% {
    transform: none;
  }
  65% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes small_to_big {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

  
  
