

body {/*바디 전체에 해당 폰트를 적용해 준다.*/
  color: #2e363e;

  padding: 50px;
}

.red {
  color: red;
}
.hidden {
  display: none;
}
.big_title {
 font-weight: 600;
 font-size: 50px;
 margin-bottom: 30px;
}
.subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}

@keyframes appearResultAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#star-game {
  animation: appearResultAnimation 0.5s ease-in-out ;
}
