/*animation*/
.header{
    width: 98%;
    height: 4%;
    background-color: #FE6A39;
    display: flex;
}

.header_background{
    background-color: #FFFFFF;
    margin: 5px;
    width: 99%;
    overflow:hidden
}

.header_title_top{
    width: 1300px;
    animation: header_title 22s linear infinite;

}
.header_title_botton{
    width: 2020px;
    animation: header_title 27s linear infinite;
}
@keyframes header_title {
    0%{
        transform: translateX(100vw);
    }

    100%{
        transform: translateX(-100%);
    }
}
