.photo_artist{
  border-radius: 50%;
  object-fit: contain;
  width: 100px;
  margin: 30px;
}
.photo_playlist {
  width: 65px;
  height: 65px;
  object-fit: contain;
  border-radius: 15px;
  padding: 10px 0px;
}
.photo_main {
  object-fit: contain;
  width: 60%;
  margin: 15%;
  border-radius: 20px;
}
.photo_click {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: rgba(0,0,0,0.3);
  left: 5px;
}
.photo_clicked {
  position: relative;
}