@import "photo.css";
@import "title.css";
@import "button.css";
@import "playlist.css";
@import "click.css";

body {
  width: 1350px;
  height: 820px;
  border-radius: 50px;
  display: flex;
  background-color: antiquewhite;
}
.re {
  position: relative;
  background-color: white;
  width: 450px;
  border-radius: 30px;
}
.display_hidden {
  display: none;
}
.gray {
  color: rgba(0,0,0,0.5);
}
.m_05 {
  margin: 0px 5px ;
}

.m_15 {
  margin: 0px 15px ;
}
._space {
  margin: 30px;
}
.shadow {
  box-shadow: 1px 10px 10px #afdcec;
}
.shadow_red {
  box-shadow: 1px 3px 10px #f9533977;
}
.shadow_black {
  box-shadow: 1px 5px 10px rgb(0, 0, 0);
}
.label {
  cursor: pointer;
  color: red;
}
.f {
  display: flex;
}
.s_b {
  justify-content: space-between;
}
.c {
  justify-content: center;
  align-items: center;
}
.a_i {
  align-items: center;
}
.d_f{
  flex-direction: column;
}

.width1 {
  width: 75px;
}
.width2 {
  width: 60%;
}
.width3 {
  width: 40%;
}
.width4 {
  width: 90%;
}

/*https://musicmeta-phinf.pstatic.net/album/007/385/7385585.jpg?type=r360Fll&v=20220405155416
톰보이 메인사진
https://musicmeta-phinf.pstatic.net/artist/003/657/3657600.jpg?type=ff300_300&v=20220312100808
레드벨벳 아이린 몬스터
https://musicmeta-phinf.pstatic.net/artist/000/402/402740.jpg?type=ff300_300&v=20220328175911
유아 숲의 아이
https://music-phinf.pstatic.net/20210831_229/16303776159480v7eJ_PNG/cb09idl_05%C7%C3%B7%B9%C0%CC%B8%AE%BD%BA%C6%AE%C4%BF%B9%F6.png
미연? 핑크 사진 제목은 대충 ???
https://musicmeta-phinf.pstatic.net/album/005/872/5872148.jpg?type=r360Fll&v=20210517182308
Next Level 
https://musicmeta-phinf.pstatic.net/album/004/883/4883637.jpg?type=r360Fll&v=202204222311
숲의 아이 메인 사진
https://musicmeta-phinf.pstatic.net/album/002/443/2443616.jpg?type=r360Fll&v=20201227124513
TWICE(트와이스) What is Love?
*/
