.title {
  text-align: center;
  width: 100%;
  
}
.title_sub {
  color: rgba(158, 158, 158, 0.8);
  font-size: 13px;
}
.title_big {
  font-size: 20px;
  margin: 15px 0px;
}
.title_middle {
  font-size: 13px;
}
.white{
  color: white;
}
.fa-2xl {
  font-size: 4em;

}
.time {
  display: flex;
  justify-content: space-between;
  width: 80%;
}