.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}
.circle_first_color {
  background-color: #BBE1F2;
}
.circle_second_color {
  background-color: #616365;
}
.circle_third_color {
  background-color: #04A565;
}