@import "font.css";
@import "book.css";
@import "star.css";

.body1 {
  width: 97vw;
  height: 255vh;
  position: relative;
}
.body2{
  width: 1000px;
  height: 2550px;
  position: relative;

}
.yellow_head {
  display: flex;
  width: 100%;
  height: 15%;
  background-color: #ffce33;
  align-items: center;
  justify-content: space-between;
}
.margin10 {
  margin: 1%;
}
.search_box {
  width: 80%;
  height: 6%;
  position: absolute;
  left: 9%;
  top: 12%;
  border-radius: 5100px;
  border: 1px solid rgba(0,0,0,0.3);
}
.space {
  margin: 6% 6% 8% 0px;
}
.fcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.f{
  display: flex;
}
.s_b {
  justify-content: space-between;
}
.search_i{
  position: absolute;
  right: 14%;
  top: 14%;
  color: rgba(0,0,0,0.3);
}
.fl_d {
  flex-direction: column;
}
.padding05{
  padding: 0px 5%;
}