
.boundary {
    height: 44.5vh;
    width: 3vw;
    display: flex;
    align-items: center;
    padding: 3vh 0px;
    font-weight: 600;
    position: fixed;
    left: 60.2vw;
}
.boundary:first-child{
    background-color: #FF00FF;
    writing-mode: vertical-rl;
    transform: scale(1);
    top:0.1px;
}
.boundary:last-child{
    background-color: #1900FF;
    writing-mode: vertical-rl;
    transform: scale(-1);
    bottom: 0.1px;
}

