.info {
    padding: 10px;
    padding-left: 0.1px;
    display: grid;
    position: fixed;
    right: 1px;
    width: 32vw;
}
.info_title {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 10px;
}

.info_box {
    display: grid;
    grid-template-columns: repeat(2, 16vw);
    grid-template-rows: repeat(6, 16vh);
    height: 100vh;
}
.info_box .box_i {
    padding: 2vh 0px;
    border-top: 1px solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
}