@import "variables.css";



.big-box {
  display: flex;
  width: 100vw;
  height: 1000px;
  background-color: rgb(240, 240, 228);
  align-items: center;
  justify-content: center;
}
.small-box {
  display: flex;
  width: 200px;
  height: 320px;
  background-color: black;
  position: absolute;
  border: 5px solid white;
}
.center-box {
  position: relative;
}
.small-box:first-child {
  right: var(--width);
  bottom: var(--height);
  background-color: tomato;
}
.small-box:nth-child(2) {
  right: var(--width);
  top: var(--height);
  background-color: burlywood;
}
.small-box:nth-child(3) {
  left: var(--width);
  bottom: var(--height);
  background-color: teal;

}
.small-box:last-child {
  left: var(--width);
  top: var(--height);
  background-color: thistle;
}
.big-title {
  position: absolute;
  top: 10px;
}
.color {
  display: block;
  width: 200px;
  height: 100px;
  position: relative;
  background-color: white;
}
.color-tag {
  position: absolute;
  bottom: 200px;
  font-style: italic;/*저 폰트는 뭘까... 모르겠다*/
}

