.blackBox{
    background-color: #000000;
    grid-area: header;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    justify-content: space-between;
}
.redBox1{
    grid-area: main;
    align-items: flex-end;

    background-color: #F14011;
    display: flex;
    padding: 15px;
}
.redBox2{
    grid-area: main2;
    background-color: #F14011;
    display: flex;
    padding: 15px;
}
.redBox3{
    grid-area: footer;
    flex-direction: column;
    

    background-color: #F14011;
    display: flex;
    padding: 15px;
}

