.circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 15px;
}
.circleColor1{
    background:#BBE1F2;
}
.circleColor2 {
    background:#616365;
}
.circleColor3 {
    background:#04A565;
}